DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=*
DJANGO_TIME_ZONE=UTC
DATABASE_URL=postgresql://alx_db_u573_user:Oa1V8eMu5Fk7rCwVrv08NHDKqdSPgF8w@dpg-d7p2quvavr4c73d1mab0-a.oregon-postgres.render.com/alx_db_u573